<div id="splash" style="background: transparent url(../images/splash-contract.png) no-repeat top left">
	<h1>m-contract</h1>
	<p>Reduce your costs<br/><span style='color:#666666;'>Increase your revenue</span></p>
</div>

<%= image_tag("../images/ekeynox_contract_cases.png", :alt => "eKeynox use case for establishing contracts", :class => "diagram-r", :style => "margin-top: 5px; margin-bottom: 20px;") %>

<p>Develop mobile applications quickly and easily to handle contracts entirely electronically, such as bank loans and insurance contracts, with full respect for the strict legal environment.</p>

<p>Unlike inflexible software solutions that force you to follow their own user experience, eKeynox enables you to fully update your application. You benefit from modules that are easy to integrate, making electronic signature management transparent for users. This solution provides security in both technical and legal terms.</p>

<p>eKeynox also enables you to constitute enforceable electronic proof, regardless of the channel used by your client, such as online, at the agency or point of sale or while mobile.</p>

<div class="clear"></div>

<h1>Handling contracts online<span class="h1-baseline">Use case</span></h1>

<p>Most services that enable you to generate your contracts online also require you print them for signature. You also need to make photocopies of all the support documents and various attachments (ID card, pay slips, home electricity bill, etc.). Lastly, you must send the whole package by postal mail, which also adds time and expense to the process.</p> 

<br/>

<%= image_tag("../images/camera.png", :alt => "Picture of supporting documents", :class => "picto-l") %>

<p>eKeynox and the electronic signature replace the handwritten signature... AND offer the same legal validity. Online contracts are easy to set up on smartphones and tablets, benefiting from their features as well, such as an integrated camera and geolocalization tools. It's never before been this simple for your current and future clients to handle contracts. All they have to do is:</p>

<ul>
	<li>Follow the natural ergonomic flow found on today's mobile devices to personalize the contract and generate it in PDF format.</li>
	<li>Scan supporting documents directly using the smartphone or tablet's integrated camera.</li>
	<li>Enter the device's PIN code to electronically sign all the time-stamped documents (contract and supporting documents).</li>
</ul>

<br/>

<p>Documents related to the contract are then archived with a trusted third-party that takes responsibility for handling issues related to producing proof. A copy of the file is stored in the mobile application or sent by e-mail to your client. This includes all the supporting documents, which may even be reused when working a new contract.</p>

<h1>Working electronically at the agency<span class="h1-baseline">Use case</span></h1>

<p>Signing contracts at the agency requires both an office and a lot of patience. The handling cost is currently estimated at about 6 -12 euros, including client and archiving time. eKeynox is a true technology disruption that enables agencies to reorganize their services and cut contract handling costs by a factor of 3. Behind a desk, at the counter or in any other available space at the agency, all you need to do is bring your client a tablet computer displaying the contracts in need of a signature.</p>

<br/>

<%= image_tag("../images/ekeynox_card_reader.png", :alt => "eKeynox security hardware", :class => "picto-r") %>

<p>Depending on the tablet's equipment (such as the card-reader shown here or NFC), your client can:</p>

<ul>
	<li>Authenticate him/herself using a payment card and sign the contract electronically directly within the infrastructure of a trusted party (on-the-fly).</li>
	<li>Authenticate him/herself and sign the contract electronically using a certificate contained in a PKI payment card. </li>
</ul>

<p>Depending on the critical nature of the contract being signed, you may define a security policy that determines whether the contract can be handled online or if the client needs to go to the agency physically.</p>

<br/><br/>

<p>Find out more on <%= link_to "eKeynox Mobile Security Framework", ekeynox_path %>.</p>

<p>If you would like to handle all your contracts electronically using a signature with probative value, adapted for each channel, <%= link_to "contact us", "mailto:sales@netheos.net" %></p>
