<div id="splash" style="background: transparent url(../images/splash-contract.png) no-repeat top left">
	<h1>m-contract</h1>
	<p>Réduire vos coûts<br/><span style='color:#666666;'>Augmenter vos revenus</span></p>
</div>

<%= image_tag("../images/ekeynox_contract_cases.png", :alt => "Cas d'usage eKeynox pour la contractualisation", :class => "diagram-r", :style => "margin-top: 10px;") %>

<p>Développez simplement et rapidement une application mobile permettant, dans un environnement légal strict, de complètement dématérialiser vos contrats, notamment de prêt et d’assurance.</p>

<p>A la différence des logiciels rigides imposant leur propre expérience utilisateur, eKeynox Mobile Security Framework autorise l’évolution de votre application. Vous profitez de briques facilement intégrables rendant transparente la gestion d’une signature électronique vous assurant une sécurité technique mais aussi juridique.</p>

<p>eKeynox permet d’établir une preuve électronique opposable quelque soit le canal choisi par votre client : en ligne, en agence, en point de vente ou en mobilité.</p>

<div class="clear"></div>

<h1>La contractualisation en ligne<span class="h1-baseline">Cas d'usage</span></h1>

<p>Aujourd’hui, la plupart des services pour permettant de générer votre contrat en ligne vous obligent ensuite à les imprimer pour les signer. Il vous faut également photocopier l’ensemble des pièces justificatives et annexes diverses (carte d’identité, derniers bulletins de salaire, quittance EDF, etc.). Enfin, vous devez envoyer l’ensemble par courrier, ce qui n’est pas sans nécessiter une nouvelle dépense en temps et en argent.</p> 

<br/>

<%= image_tag("../images/camera.png", :alt => "Photographie des pièces justificatives", :class => "picto-l") %>

<p>eKeynox et la signature électronique remplacent la signature manuscrite avec la même valeur juridique. La contractualisation en ligne est très simple à mettre en œuvre sur l’ensemble des smartphones et des tablettes, et bénéficie ainsi de l’ensemble de leurs fonctionnalités (comme l'appareil photo et la géolocalisation). Contractualiser n’a jamais été aussi simple pour votre client ou votre futur client. Il lui suffit :</p>

<ul>
	<li>De se laisser guider par l’ergonomie propre aux mobiles pour personnaliser son contrat et le générer au format PDF ;</li>
	<li>De numériser directement ses pièces justificatives grâce à l’appareil photo du smartphone ou de la tablette ;</li>
	<li>D’entrer son code PIN pour signer électroniquement l’ensemble des pièces (contrat + justificatifs) préalablement horodaté.</li>
</ul>

<br/>

<p>Les pièces du contrat sont ensuite archivées chez un tiers de confiance qui prend en charge l'ensemble de la problématique de gestion des preuves. Une copie est conservée dans l’application mobile ou envoyée par email à votre client. Cela inclus les pièces justificatives qui pourront éventuellement être réutilisées lors d’une nouvelle contractualisation.</p>

<h1>La dématérialisation en agence<span class="h1-baseline">Cas d'usage</span></h1>

<p>La signature d’un contrat en agence nécessite un bureau et beaucoup de patience. On estime actuellement son coût de traitement entre 6 et 12 euros (temps client + temps d’archivage). eKeynox est une vrai rupture technologique qui permet à l'agence se réorganiser et de diviser ce coût de contractualisation par 3. Derrière un bureau, au guichet ou dans n’importe quel espace public de l’agence, il suffit de présenter à votre client une tablette affichant ses contrats en attente de signature.</p>

<br/>

<%= image_tag("../images/ekeynox_card_reader.png", :alt => "Matériels de sécurité eKeynox", :class => "picto-r") %>

<p>Selon l’équipement de la tablette (lecteur de carte ci-contre ou NFC), votre client pourra :</p>

<ul>
	<li>S’authentifier à l’aide de sa carte de paiement et signer électroniquement son contrat directement dans l’infrastructure du tiers de confiance (à la volée).</li>
	<li>S’authentifier et signer électroniquement son contrat à l’aide d’un certificat placé dans sa carte de paiement PKI. </li>
</ul>

<p>En fonction de la  criticité du contrat à signer, il est ainsi possible de définir une politique de sécurité arbitrant entre une contractualisation en ligne ou en agence.</p>

<br/><br/>

<p>En savoir plus sur <%= link_to "eKeynox Mobile Security Framework", ekeynox_path %>.</p>

<p>Si vous souhaitez dématérialiser l’ensemble de vos contrats avec une signature électronique probante, adaptée à chaque canal, <%= link_to "contactez-nous", "mailto:sales@netheos.net" %>.</p>
