<script type="text/javascript">
jQuery(function($){

    $('a.zoombox').zoombox({
        theme       : 'lightbox',  // Available themes : zoombox, lightbox, prettyphoto, darkprettyphoto, simple
        opacity     : 0.8,
        duration    : 600,
        animation   : true,
    });
});
</script>

<div id="splash" style="background: transparent url(../images/splash-ekeynox.png) no-repeat top left">
		<ul>
			<li><%= link_to "RESUME", "#overview" %></li>
			<li><%= link_to "WHY CHOOSE EKEYNOX", "#why" %></li>
			<br/>
			<li><%= link_to "MOBILE SDK", "#sdk" %></li>
			<li><%= link_to "MANAGEMENT SYSTEM", "#ekms" %></li>
			<li><%= link_to "SPECIFICATIONS", "#facts" %></li>
		</ul>
	<span style="position: relative; top:160px; left:60px; font-family: candara; color:#666666; font-size: 35px; letter-spacing: 1px; font-weight: 400;">Mobile Security</span><br/> <span style="position: relative; top:170px; left:60px; font-family: candara; color:#f46700; font-size: 35px; letter-spacing: 1px; font-weight: 600;">Framework</span>
</div>

<%= image_tag("../images/ekeynox_cases.png", :alt => "ekeynox use case", :class => "diagram-r", :style => "margin-top: 10px; margin-bottom: 20px;") %>

<h1 id="overview">Build and manage security<br/>for your mobile applications</h1>

<p>Because digital certificates and Public Key Infrastructure solutions offer the best technologies for securing online financial services, thus contributing to their development and acceptance, we created a family of products that combine innovation and ease-of-use to deploy and manage digital certificates directly in your mobile applications.</p>

<p>As these certificates require a framework to be useful, our software range includes a software development kit (SDK) that enables you to quickly and easily create new financial applications, both native (ObjC and Java) and web (HTML 5). eKeynox leverages digital certificates by creating new uses for new markets.

<h1 id="why">A fresh approach to PKI</h1>

<p>To reduce online fraud as well as to reduce costs and develop new revenue in a legally strict environment, digital certificates and electronic signatures are proven solutions that solve many of the most challenging issues faced by our digital economy. They ensure security for transactions and related electronic documents, both on a technical and legal level by enabling parties to establish enforceable digital proof.</p> 

<p>On the downside, PKI is a complex technology that requires significant expertise. eKeynox solves this dilemma by transforming PKI and making it easy to use.</p>

<table>
    <tbody>
		<tr>
			<td>
				<span class="number">1</span>		
				<h3>Enroll and guarantee your clients identity</h3>
				<p>Personalize your application with client data in various scenarios. Check client identity using an activation code, with an option to take a snapshot and archive support documents.</p>
			</td>
			<td>
				<span class="number">4</span>
				<h3>Secure traffic for your applications</h3>
				<p>Ensure data privacy and integrity using a mutually authenticated SSL connection and protect your clients from network attacks such as man-in-the-middle.</p>
			</td>
		</tr>
		<tr>
			<td>
				<span class="number">2</span>
				<h3>Strong authentication for your clients</h3>
				<p>Authenticate your clients using a secure PIN code associated with a non-copyable software or hardware (microSD, SIM or NFC chip) digital identity.</p>
			</td>
			<td>
				<span class="number">5</span>
				<h3>Secure web navigation for your clients</h3>
				<p>Isolate your clients' web navigation from malicious software, such as man-in-the-browser intrusion. Protect clients from malicious web sites and scams (such as phishing).</p>
			</td>
		</tr>
		<tr>
			<td>
				<span class="number">3</span>
				<h3>Sign your transactions and contracts</h3>
				<p>Implement a legally-binding electronic signature to ensure non-repudiation for transactions, and to create contracts that represent real, enforceable digital proof.</p> 
			</td>
			<td>
				<span class="number">6</span>
				<h3>Handle PKI simply</h3>
				<p>Connect several internal or external Certification Authorities (CAs) and distribute your digital certificates directly in your mobile applications. Manage your security policy lifecycle and updates.</p>
			</td>
		</tr>
	</tbody>
</table>

<h1 id="sdk">eKeynox Mobile SDK</h1>

<% diagram = image_tag("../images/ekeynox_libraries.png", :alt => "Librairies ekeynox", :class => "diagram-r") %> 
<%= link_to diagram, lightbox_mobile_sdk_lb_path, :class => "zoombox h410 w1000" %>

<p>eKeynox Mobile SDK helps you integrate security into your mobile applications easily, whether they be web or native applications. In particular, this SDK gives you an effective way to handle digital certificates and their PKI logic. To get started with development quickly, all you have to do is import eKeynox libraries into your project and follow the eKeynox tutorial.</p>

<p>eKeynox libraries enable you to sign transactions and contracts, handle strong user authentication, and more. The libraries leverage the eKeynox KeyWallet, a software cryptographic engine that includes secure storage as well as a cryptographic API. KeyWallet is compatible with security elements such as microSD, SIM cards, smartcards, and NFC chips, and also gives you a secure software alternative when this type of hardware is not available.</p>

<p>eKeynox Mobile SDK is part of a starter package that includes training, support, and eKeynox management services in SaaS mode for developers. Sample code and documentation are available on <%= link_to 'github eKeynox', "https://github.com/netheos", :target => "_blank" %>.</p>

<div class="clear"></div>

<h1 id="ekms">eKeynox Management System</h1>

<% diagram = image_tag("../images/ekeynox_management_system.png", :alt => "ekeynox Management System", :class => "diagram-l", :style => "margin-bottom: 100px") %> 
<%= link_to diagram, "../images/ekeynox_management_system.png", :class => "zoombox" %>

<p>The eKeynox Management System helps you deploy and manage security for your mobile application developed with the eKeynox SDK. With the eKeynox Management System, you can:</p>

<ul>
	<li>Enroll your clients and their mobile application according to various scenarios (i.e. automatic, by batch, or manually).</li>
	<li>Connect different Certification Authorities and define certification profiles for each one.</li>
	<li>Define and test your security policies (PIN code policy, white list, authorized web content, trusted ACs, etc.).</li>
	<li>Deploy your security policies and digital certificates while balancing your server load.</li>
	<li>Monitor your mobile application fleet and handle remote operations such as unblocking PIN codes and performing secure erasing.</li>
</ul>

<!--<h1 id="facts">Technical Facts</h1>-->