<script type="text/javascript">
jQuery(function($){

    $('a.zoombox').zoombox({
        theme       : 'lightbox',  // Available themes : zoombox, lightbox, prettyphoto, darkprettyphoto, simple
        opacity     : 0.8,
        duration    : 600,
        animation   : true,
    });
});
</script>

<div id="splash" style="background: transparent url(../images/splash-ekeynox.png) no-repeat top left">
		<ul>
			<li><%= link_to "RESUME", "#overview" %></li>
			<li><%= link_to "POURQUOI EKEYNOX", "#why" %></li>
			<br/>
			<li><%= link_to "MOBILE SDK", "#sdk" %></li>
			<li><%= link_to "MANAGEMENT SYSTEM", "#ekms" %></li>
			<li><%= link_to "SPECIFICATIONS", "#facts" %></li>
		</ul>
	<span style="position: relative; top:160px; left:60px; font-family: candara; color:#666666; font-size: 35px; letter-spacing: 1px; font-weight: 400;">Mobile Security</span><br/>
	<span style="position: relative; top:170px; left:60px; font-family: candara; color:#f46700; font-size: 35px; letter-spacing: 1px; font-weight: 600;">Framework</span>
</div>

<%= image_tag("../images/ekeynox_cases.png", :alt => "Cas d'usage ekeynox", :class => "diagram-r", :style => "margin-top: 10px; margin-bottom: 20px;") %>

<h1 id="overview">Construire et gérer la sécurité<br/>de vos applications mobiles</h1>

<p>Parce que les certificats numériques et les Infrastructures à Clé Publique (PKI) sont la meilleure technologie pour sécuriser les services financiers en ligne et ainsi encourager leur développement, nous avons créé une famille de produits combinant innovation et simplicité d'usage pour déployer et gérer les certificats numériques directement dans vos applications mobiles.</p>

<p>Et parce que les certificats seuls ne servent à rien, cette famille de logiciels inclue un SDK pour créer rapidement et facilement de nouvelles applications financières, natives (ObjC et Java) ou web (html 5). eKeynox valorise ainsi les certificats en créant de nouveaux usages pour de nouveaux marchés.

<h1 id="why">Une nouvelle approche de la PKI</h1>

<p>Pour réduire sa fraude en ligne mais aussi ses coûts, et développer de nouveaux revenus dans un environnement légal strict, les certificats numériques et la signature électronique sont une solution éprouvée répondant à un grand nombre des problématiques de notre économie numérique. Ils assurent la sécurité des transactions et des documents qu'ils dématérialisent, au niveau technique mais aussi juridique en permettant de constituer de véritables preuves numériques.</p> 

<p>Cependant, la PKI est une technologie complexe qui demande un fort savoir faire. eKeynox transforme la PKI et la rend facile à utiliser.</p>

<table>
    <tbody>
		<tr>
			<td>
				<span class="number">1</span>		
				<h3>Enrôler vos clients et garantir leur identité</h3>
				<p>Personnalisez votre application avec les données de votre client et selon différents scénarios. Vérifiez son identité avec un code d'activation et la possibilité de photographier et d'archiver ses pièces justificatives.</p>
			</td>
			<td>
				<span class="number">4</span>
				<h3>Sécuriser le trafic de vos applications</h3>
				<p>Assurez la confidentialité et l'intégrité de vos données à l'aide d'une connexion SSL mutuellement authentifiée et protégez vos clients des attaques réseaux tels que le "Man in the Middle".</p>
			</td>
		</tr>
		<tr>
			<td>
				<span class="number">2</span>
				<h3>Authentifier fortement vos clients (2 facteurs)</h3>
				<p>Authentifiez vos clients à l'aide d'un code PIN sécurisé associé à une identité numérique non copiable, logicielle ou matérielle (microSD, SIM ou puce NFC).</p>
			</td>
			<td>
				<span class="number">5</span>
				<h3>Sécuriser la navigation web de vos clients</h3>
				<p>Isolez la navigation web de vos clients des logiciels malveillants (comme le "Man in the Browser"). Protégez les des sites web malveillants et des escroqueries (comme le "phishing").</p>
			</td>
		</tr>
		<tr>
			<td>
				<span class="number">3</span>
				<h3>Signer vos transactions et vos contrats</h3>
				<p>Mettez en oeuvre une signature électronique légale pour assurer la non répudiation des transactions et la création de contrats établissant de véritables preuves numériques opposables.</p> 
			</td>
			<td>
				<span class="number">6</span>
				<h3>Gérer simplement la PKI</h3>
				<p>Connectez plusieurs AC, internes ou externes, et distribuez directement vos certificats numériques dans vos applications mobiles. Gérez le cycle de vie de vos politiques de sécurité et de vos mises à jour.</p>
			</td>
		</tr>
	</tbody>
</table>

<h1 id="sdk">eKeynox Mobile SDK</h1>

<% diagram = image_tag("../images/ekeynox_libraries.png", :alt => "Librairies ekeynox", :class => "diagram-r") %>
<%= link_to diagram, lightbox_mobile_sdk_lb_path, :class => "zoombox h410 w1000" %>

<p>eKeynox Mobile SDK vous aide à intégrer facilement la sécurité dans votre application mobile - web ou native - et plus spécifiquement les certificats numériques avec leur logique PKI. Pour cela, vous avez seulement à importer les librairies eKeynox dans votre projet pour démarrer rapidement le développement de votre application à l'aide d'un tutoriel eKeynox.</p>

<p>Les librairies eKeynox permettent de signer des transactions et des contrats, d'authentifier fortement les utilisateurs, etc. Elles utilisent le KeyWallet eKeynox, un coeur de cryptographie logiciel incluant un stockage sécurisé et une API de cryptographie. Le KeyWallet est compatible avec des éléments de sécurité tels que les microSD, les SIM et les cartes à puce NFC, et constitue une alternative logicielle sécurisée quand ce type de matériel n'est pas accessible.</p>

<p>Le Mobile SDK est packagé au sein d'un kit de démarrage incluant la formation, le support et un service de management eKeynox en mode SaaS pour les développeurs. Des exemples de code et de la documentation sont disponibles sur le <%= link_to 'github eKeynox', "https://github.com/netheos", :target => "_blank" %>.</p>

<div class="clear"></div>

<h1 id="ekms">eKeynox Management System</h1>

<% diagram = image_tag("../images/ekeynox_management_system.png", :alt => "ekeynox Management System", :class => "diagram-l", :style => "margin-bottom: 150px") %>
<%= link_to diagram, "../images/ekeynox_management_system.png", :class => "zoombox" %>

<p>Le Management System eKeynox vous aide à déployer et gérer la sécurité de votre application mobile développée à l'aide d'un SDK eKeynox. Avec le Management System, vous pouvez :</p>

<ul>
	<li>Enrôler vos clients et leur application mobile à travers différents scénarios (automatique, par lot ou manuel) ;</li>
	<li>Connecter différentes Autorités de Certification et définir pour chacune vos profiles de certification ;</li>
	<li>Définir et tester vos politiques de sécurité (politique de code PIN, liste blanche, contenus web autorisés, CA de confiance, etc.) ;</li>
	<li>Déployer vos politiques de sécurité et vos certificats numériques en lissant votre charge serveur ;</li>
	<li>Surveiller votre flotte d'applications mobiles et effectuer des actions distantes comme le déblocage de code PIN et l'effacement sécurisé.</li>
</ul>

<!--<h1 id="facts">Technical Facts</h1>-->

