<!--div class="splash" style="background: transparent url(../images/splash-home.png) no-repeat top left">
	<div class="splash-text">
		<h1>Trust and Privacy over the Internet</h1>
		<p>Software so that companies can give clients confidence<br/>in the services they offer over the Internet</p>
	</div>
</div-->

<div id="splash-home">	
	<div style="background: transparent url(../images/splash-1.png) no-repeat top left">
		<h1>Build and Manage the <br/>Security of your Mobile Apps</h1>
		<p><span style='color:#666666;'>eKeynox</span> Mobile Security Framework</p>
	</div>
	<div style="background: transparent url(../images/splash-2.png) no-repeat top left">
		<h1>Create easily Mobile Apps<br/>based on Digital Certificates</h1>
		<p><span style='color:#666666;'>eKeynox</span> Mobile SDK</p>		
		<p style='top:110px'><span style='color:#666666;'>eKeynox</span> Web SDK</p>		
	</div>
	<div style="background: transparent url(../images/splash-3.png) no-repeat top left">
		<h1>Manage the Security Lifecycle<br/>of your Mobile Applications</h1>
		<p><span style='color:#666666;'>eKeynox</span> Management System</p>
	</div>
</div>

<div class="solutions clearfix">
    <div >
		<h2>M-BANKING</h2>
        <p>Luttez contre la fraude en ligne, réduisez vos coûts et augmentez vos revenus en dématérialisant, sur le mobile de vos  clients, de nouveaux services bancaires. <%= link_to "En savoir plus »", solutions_banking_path %></p>
    </div>
    <div>
		<h2>M-PAYMENT</h2>
        <p>Simplifiez l'expérience de paiement de vos clients et réduisez votre fraude en ligne en développant facilement un wallet sécurisé et mobile. <%= link_to "En savoir plus »", solutions_payment_path %></p>    
    </div>
    <div>
		<h2>M-CONTRACT</h2>
        <p>Transformez vos prospects en clients avec une contractualisation 100% dématérialisée via une signature électronique probante et adaptée à chaque canal. <%= link_to "En savoir plus »", solutions_contract_path %></p>
    </div>    
</div>

<div class="clear"></div>

<div style="height:60px; width: 950px; text-align:center;">
	<% logo = image_tag("references_01.png", :alt => "Société Générale") %>
	<%= link_to logo, "http://www.societegenerale.com/", :target => "_blank" %>
	<% logo = image_tag("references_02.png", :alt => "Crédit du Nord") %>
	<%= link_to logo, "http://www.groupe-credit-du-nord.com", :target => "_blank" %>
	<% logo = image_tag("references_03.png", :alt => "Keynectis OpenTrust") %>
	<%= link_to logo, "http://www.keynectis.com", :target => "_blank" %>
	<% logo = image_tag("references_04.png", :alt => "Gemalto") %>
	<%= link_to logo, "http://www.gemalto.com", :target => "_blank" %>
</div>
