<!--div class="splash" style="background: transparent url(../images/splash-home.png) no-repeat top left">
	<div class="splash-text">
		<h1>Trust and Privacy over the Internet</h1>
		<p>Software so that companies can give clients confidence<br/>in the services they offer over the Internet</p>
	</div>
</div-->

<div id="splash-home">	
	<div style="background: transparent url(../images/splash-1.png) no-repeat top left">
		<h1>Build and Manage the <br/>Security of your Mobile Apps</h1>
		<p><span style='color:#666666;'>eKeynox</span> Mobile Security Framework</p>
	</div>
	<div style="background: transparent url(../images/splash-2.png) no-repeat top left">
		<h1>Create easily Mobile Apps<br/>based on Digital Certificates</h1>
		<p><span style='color:#666666;'>eKeynox</span> Mobile SDK</p>		
		<p style='top:110px'><span style='color:#666666;'>eKeynox</span> Web SDK</p>		
	</div>
	<div style="background: transparent url(../images/splash-3.png) no-repeat top left">
		<h1>Manage the Security Lifecycle<br/>of your Mobile Applications</h1>
		<p><span style='color:#666666;'>eKeynox</span> Management System</p>
	</div>
</div>

<div class="solutions clearfix">
    <div >
		<h2>M-BANKING</h2>
        <p>Luttez contre la fraude en ligne, réduisez vos coûts et augmentez vos revenus en dématérialisant, sur le mobile de vos  clients, de nouveaux services bancaires. <%= link_to "En savoir plus »", solutions_banking_path %></p>
    </div>
    <div>
		<h2>M-PAYMENT</h2>
        <p>Simplifiez l'expérience de paiement de vos clients et réduisez votre fraude en ligne en développant facilement un wallet sécurisé et mobile. <%= link_to "En savoir plus »", solutions_payment_path %></p>    
    </div>
    <div>
		<h2>M-CONTRACT</h2>
        <p>Transformez vos prospects en clients avec une contractualisation 100% dématérialisée via une signature électronique probante et adaptée à chaque canal. <%= link_to "En savoir plus »", solutions_contract_path %></p>
    </div>    
</div>

<div style="height:60px; background: transparent url(../images/clients.png) no-repeat top left"></div>



<!--
	<% picto1 = image_tag("../images/ekeynox.png", :alt => "ekeynox", :class => "picto") %>
	<%= link_to picto1, ekeynox_path %>
	<p><strong>The eKeynox product family</strong> that combines innovation and ease-of-use to deploy digital certificates on a variety of computing platforms: PC and Mac, USB flash drive/token, smartphones and tablets. From strong authentication to digital signatures and data encryption, eKeynox leverages the Public Key Infrastructure (PKI) by creating new uses for new markets. <%= link_to "Learn more.", ekeynox_path, :class => "learn_more" %></p>

<br/>

	<% picto2 = image_tag("financial_institution1_5.png", :alt => "Financial Institutions", :class => "picto") %>
	<%= link_to picto2, solutions_financial_institutions_path %>
	<p><strong>You want protection from online fraud</strong>, to enhance already-deployed services or develop significant innovation? Netheos can help transform the relationship you've built with your corporate and retail clients. Our solutions enable you to offer clients and partners a strong digital identity and smart software that will not only make their lives easier, but also provide you with the security you need. <%= link_to "Learn more.", solutions_financial_institutions_path, :class => "learn_more" %></p>
-->
<div class="clear"></div>

