<div class="splash" style="background: transparent url(../images/splash-usb_trust.png) no-repeat top left">
	<h1>Protect your sensitives</br>online services</h1>
	<ul>
		<li><%= link_to "eK Apps", ekeynox_apps_path, :style => "color: #ffffff" %></li>
		<li><%= link_to "eK USB Trust", ekeynox_usb_trust_path %></li>
		<li><%= link_to "eK Mobile SDK", ekeynox_mobile_sdk_path %></li>
	</ul>
</div>

<p>eKeynox Apps are ready-to-use and can be easily personalized to quickly meet specific needs.</p>
<p>Entirely controlled and managed by the eKeynox Management System, these Apps are fully secured and use strong authentication mechanisms that include a digital user certificate and PIN code management.</p>

<h2>Trusted Browser <span style="font-size: 18px;">(USB devices, PC/Mac, iPhone/iPad)</span></h2>

<%= image_tag("trusted_browser2.png", :alt => "Web Access Protection", :class => "picto") %>

<p>Trusted Browser is a hardened Web browser that offers strong protection against “Man in the Middle” and "Man in the Browser" attacks. The Web browser is entirely controlled by the eKeynox Management System, which handles the following in addition to user certificates and strong authentication:</p>
<ul>
	<li>Bookmarks and white list.</li>
	<li>Authorized content (flash, java, javascript, cookies).</li>
	<li>Trustable server certificates.</li>
</ul>
<p>In addition to its ability to access only Web applications that are authorized by the eKeynox Management System, isolating the Trusted Browser makes it invulnerable to "application" attacks from malicious Web sites and phishing-type attacks.</p>
<p>Trusted Browser also integrates an encrypted password wallet that simplifies both the user experience and solution deployment, making it possible to not interfere with the login/password authentication mechanism already in place if necessary.</p>

<p>Trusted Browser is the only iPhone/iPad software that enables you to secure access to a Web portal with a user certificate and a mutually-authenticated SSL/TLS connection.</p> 

<h2>Trusted Viewer <span style="font-size: 18px;">(USB devices, PC/Mac)</span></h2>

<%= image_tag("trusted_viewer2.png", :alt => "Document Privacy", :class => "picto") %>

<p>Trusted Viewer is a hardened document viewer application (PDF, IMG, XHTML) that:</p>
<ul>
	<li>Handles document confidentiality through encryption.</li>
	<li>Forbids proliferation by controlling copying and printing.</li>
	<li>Enables contracts to be signed electronically.</li>
</ul>
<p>This application is entirely controlled by the eKeynox Management System, which handles the following in addition to user certificates and strong authentication:</p>
<ul>
	<li>Secure document publishing via the Internet.</li>
	<li>Policies for printing and copying as well as watermarking.</li>
	<li>Digital certificates and settings for digital signatures.</li>
</ul>