<script type="text/javascript">
jQuery(function($){

    $('a.zoombox').zoombox({
        theme       : 'lightbox',  // Available themes : zoombox, lightbox, prettyphoto, darkprettyphoto, simple
        opacity     : 0.8,
        duration    : 600,
        animation   : true,
    });
});
</script>

<div class="splash" style="background: transparent url(../images/splash-ekeynox.png) no-repeat top left">
	<div class="splash-menu">
		<ul>
			<li><%= link_to "OVERVIEW" %></li>
			<li><%= link_to "WHY USE EKEYNOX" %></li>
			<br/>
			<li><%= link_to "MOBILE SDK" %></li>
			<li><%= link_to "MANAGEMENT SYSTEM" %></li>
		</ul>
	</div>
	<h1 style="top:125px; left:60px; font-family: candara; color:#666666; font-size: 35px; letter-spacing: 1px; font-weight: 400;">Mobile Security</h1>
	<h1 style="top:105px; left:60px; font-family: candara; color:#f46700; font-size: 35px; letter-spacing: 1px; font-weight: 600;">Framework</h1>
</div>

<% diagram = image_tag("../images/ekeynox_big_picture.png", :alt => "ekeynox", :class => "diagram") %>
<%= link_to diagram, "../images/ekeynox_big_picture.png", :class => "zoombox" %>

<h1>Build and Manage the Security<br/>of your Mobile Applications</h1>

<p>Because digital certificates and Public Key Infrastructure are the best technology to secure and push for on-line financial services, we create a product family that combines innovation and ease-of-use to deploy and manage digital certificate direcly in mobile applications. And because digital certificates themself do nothing, this family include a Mobile SDK and web SDK to quickly and easily create new financial applications, mobiles apps or web apps. eKeynox leverages PKI by creating new uses for new financial markets.</p>

<div class="clear"></div>

<div class="hop"></div>

<h1 style="text-align:center;">A new approach to PKI</h1>

<p>To reduce on-line fraud but also costs, and develop significant business innovation in a strict legal environment, digital certificate is the best choice. however PKI is a technology of experts that ask a strong know-how. eKeynox change PKI and la rend facile à utiliser.</p>

<table>
    <tbody>
		<tr>
			<td>
				<span class="number">1</span>
				<h3>Adding value to digital certificates</h3>
				<p>Take advantage of your digital certificates by building new use cases easily to ensure trust and privacy on new markets.</p>
			</td>
			<td>
				<span class="number">4</span>
				<h3>Multi-PKI  strategy</h3>
				<p>Connect internal and external PKIs to eKeynox and distribute certificates transparently to your devices for authentication, signature and encryption.</p>
			</td>
		</tr>
		<tr>
			<td>
				<span class="number">2</span>
				<h3>Shortcut to Public Key Infrastructure <span style="font-size: 16px">(PKI)</span></h3>
				<p>Implement digital certificates without complex infrastructure quickly for your company's internal needs or for your clients.</p>
			</td>
			<td>
				<span class="number">5</span>
				<h3>Multi-device / Multi-OS strategy</h3>
				<p>No need to change your IT when you change your devices. Simply use the same solution for each device/OS (Windows and Mac OS, iOS and Android).</p>
			</td>
		</tr>
		<tr>
			<td>
				<span class="number">3</span>
				<h3>Controlling your software</h3>
				<p>Manage over the Internet security policies and updates of software that use your digital certificates.</p>
			</td>
			<td>
				<span class="number">6</span>
				<h3>Multi-population strategy</h3>
				<p>Segment your population and choose the most appropriate device in terms of cost and security for each one.</p>
			</td>
		</tr>
	</tbody>
</table>

<div class="hop"></div>

<h1>eKeynox Mobile SDK</h1>

<% diagram = image_tag("../images/ekeynox_cases.png", :alt => "ekeynox", :class => "diagram") %>
<%= link_to diagram, "../images/ekeynox_cases.png", :class => "zoombox" %>

<h1>eKeynox Management System</h1>
