<div class="splash" style="background: transparent url(../images/splash-usb_trust.png) no-repeat top left">
	<h1>Protect your sensitives</br>online services</h1>
	<ul>
		<li><%= link_to "eKeynox", ekeynox_path %></li>
		<li><%= link_to "USB Trust", ekeynox_usb_trust_path, :style => "color: #ffffff" %></li>
		<li><%= link_to "Mobile SDK & Apps", ekeynox_mobile_sdk_apps_path %></li>
	</ul>
</div>

<div id="column">
	<h2>eKeynox Family</h2>
	<p>fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf</p><br/>
	<h2>eKeynox Modules</h2>
	<p>fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf</p><br/>
	<h2>Partners</h2>
	<p>fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf</p>
</div>

<div id="overview">
	<p>USB Trust est une famille de logiciels spécialement conçus pour être embarqués sur des périphériques de stockage USB en conservant leur performance et en proposant à l’utilisateur une expérience adapté au support USB.</p>
	<p>Que ce soit depuis un « USB Virtual Token » ou depuis un « USB flash token », la suite logicielle USB Trust est la solution simple et robuste pour protéger l’accès à vos portails web, signer numériquement des transactions et des documents électroniques.</p>
	<p>En associant sur un unique objet les moyens de l’authentification forte aux logiciels les utilisant, l’utilisateur n’a plus qu’à connecter son périphérique USB à n’importe quel ordinateur, PC ou Mac (Windows ou MacOSX), pour accéder à ses services et les utiliser.</p>
	<p>Les certificats numériques, les logiciels qui y sont associés ainsi que leurs politiques de sécurité, sont déployés et administrés via le Management System eKeynox.</p>
</div>

<div class="clear"></div>

<h4>Provide a Trusted Application in 3 steps</h4>

<% step1 = image_tag("step1.png", :alt => "Choose your USB Devices", :class => "step") %>
<%= link_to step1, "#usb_devices" %>

<% step2 = image_tag("step2.png", :alt => "Build your Application", :class => "step-middle") %>
<%= link_to step2, "#application" %>

<% step3 = image_tag("step3.png", :alt => "Manage over the Internet", :class => "step") %>
<%= link_to step3, "#management" %>

<div class="clear"></div>

<h2 id="usb_devices">Choose your USB Devices</h2>
<h2 id="application">Build your Application</h2>
<h2 id="management">Manage over the Internet</h2>


