<script type="text/javascript">
jQuery(function($){

    $('a.zoombox').zoombox({
        theme       : 'zoombox',        //available themes : zoombox,lightbox, prettyphoto, darkprettyphoto, simple
        opacity     : 0.8,              // Black overlay opacity
        duration    : 600,              // Animation duration
        animation   : true,             // Do we have to animate the box ?
        width       : 800,              // Default width
        height      : 400,              // Default height
        gallery     : true,             // Allow gallery thumb view
        autoplay : false                // Autoplay for video
    });
});
</script>

<div class="splash" id="splash-solutions">
	<h1>Corporate Solutions</br>to Trust online Services</h1>
</div>

<div id="column">fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf </div>
<div id="overview">fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd
</div>

<div class="clear"></div>

<div class="list">
	<h2>Business Needs Solutions</h2>
	<div class="item">
		<div class="picto_frame">
			<% picto = image_tag("trusted_browser.png", :alt => "Web Access Protection", :class => "picto") %>
			<%= link_to picto, solutions_web_access_protection_path, :class => "zoombox" %>
		</div>
		<h3>Web Access Protection</h3>
		<p>Strong authentication + MitB protection fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd <%= link_to "picto", solutions_path, :class => "zoombox" %></p>
	</div>
	
	<div class="item">
		<div class="picto_frame">
			<% picto = image_tag("signature_small.png", :alt => "Digital Signature", :class => "picto") %>
			<%= link_to picto, solutions_digital_signature_path %>
		</div>
		<h3>Online Fast Contract Agreement</h3>
		<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
	</div>

	<div class="item">
		<div class="picto_frame">
			<% picto = image_tag("trusted_viewer.png", :alt => "Data Leakage Protection", :class => "picto") %>
			<%= link_to picto, solutions_data_leakage_protection_path %>
		</div>
		<h3>Data Leakage Protection</h3>
		<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
	</div>

</div>

<div class="list">
	<h2>Industry Solutions</h2>
	<div class="item">
		<div class="picto_frame">
			<% picto = image_tag("signature_small.png", :alt => "Financial Institutions", :class => "picto") %>
			<%= link_to picto, solutions_financial_institutions_path %>
		</div>
		<h3>Financial Institutions</h3>
		<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
	</div>

	<div class="item">
		<div class="picto_frame">
			<% picto = image_tag("signature_small.png", :alt => "Device Manufacturers (OEM)", :class => "picto") %>
			<%= link_to picto, solutions_device_manufacturers_path %>
		</div>	
		<h3>Device Manufacturers (OEM)</h3>
		<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
	</div>
	
	<div class="item">
		<div class="picto_frame">
			<% picto = image_tag("signature_small.png", :alt => "Software Editors (OEM)", :class => "picto") %>
			<%= link_to picto, solutions_software_editors_path %>
		</div>
		<h3>Software Editors (OEM)</h3>
		<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
	</div>
	
</div>	

<div class="clear"></div>