<div class="splash" id="splash-solutions">
	<h1 id="splash-product_name">Netheos Solutions</h1>
	<p id="splash-title">Solutions you need</br>in your pocket</p>
</div>

<div class="menu">
	<div class="item">
		<div class="picto_frame">
			<% picto = image_tag("lock_small.png", :alt => "Strong authentication", :class => "picto") %>
			<%= link_to picto, usb_devices_path %>
		</div>
		<h3>Strong authentication</h3>
		<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
	</div>

	<div class="item">
		<div class="picto_frame">
			<% picto = image_tag("trusted_browser.png", :alt => "Trusted Browser", :class => "picto") %>
			<%= link_to picto, usb_devices_path %>
		</div>
		<h3>Trusted web browsing</h3>
		<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
	</div>
	
	<div class="item">
		<div class="picto_frame">
			<% picto = image_tag("signature_small.png", :alt => "Digital Signature", :class => "picto") %>
			<%= link_to picto, usb_devices_path %>
		</div>
		<h3>Digital signature</h3>
		<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
	</div>
	
	<div class="item">
		<div class="picto_frame">
			<% picto = image_tag("signature_small.png", :alt => "Digital Signature", :class => "picto") %>
			<%= link_to picto, usb_devices_path %>
		</div>
		<h3>Data leakage protection</h3>
		<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
	</div>
</div>

<div class="menu">
	<div class="item">
		<div class="picto_frame">
			<% picto = image_tag("fraud_protection.png", :alt => "Fraud Protection", :class => "picto") %>
			<%= link_to picto, usb_devices_path %>
		</div>	
		<h3>On-line fraud protection</h3>
		<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
	</div>
	
	<div class="item">
		<div class="picto_frame">
			<% picto = image_tag("signature_small.png", :alt => "Digital Signature", :class => "picto") %>
			<%= link_to picto, usb_devices_path %>
		</div>
		<h3>Distant access & mobile office</h3>
		<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
	</div>
	
	<div class="item">
		<div class="picto_frame">
			<% picto = image_tag("signature_small.png", :alt => "Digital Signature", :class => "picto") %>
			<%= link_to picto, usb_devices_path %>
		</div>
		<h3>It's the title number 6</h3>
		<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
	</div>
</div>	

<div class="clear"></div>