<script type="text/javascript">
jQuery(function($){

    $('a.zoombox').zoombox({
        theme       : 'zoombox',  // Available themes : zoombox, lightbox, prettyphoto, darkprettyphoto, simple
        opacity     : 0.8,
        duration    : 600,
        animation   : true,
    });
});
</script>

<footer>
	<div class="footer-content">
		<ul>
<!--		<li><%= link_to t(:solutions), lightbox_solutions_lb_path, :class => "zoombox h170 w970" %></li>-->
			<li><%= link_to t(:about), about_path %></li>
			<li style="margin-bottom: 20px"><%= link_to t(:ekeynox), ekeynox_path %>
			<li>© 2012 eKeynox</li>
<!--		<li><%= link_to t(:privacy), privacy_path %></li>-->
			<li><%= link_to t(:logos), "/images/netheos_logos.zip" %></li>
		</ul>

		<ul>
			<li><%= link_to t(:banking), solutions_banking_path %></li>
			<li><%= link_to t(:payment), solutions_payment_path %></li>
			<li><%= link_to t(:contract), solutions_contract_path %></li>
		</ul>

		<ul style="margin-left:200px">
			<li><%= link_to "Netheos", about_path %></li>
			<li>1025, avenue Henri Becquerel</li>
			<li>Parc Club du Millénaire - Bât 18</li>
			<li>34 000 Montpellier - France</li>
			
		</ul>

		<ul>
			<li><%= link_to "sales@netheos.net", "mailto:sales@netheos.net" %></li>
			<li><%=t :call %>: +33 9 72 34 11 80</li>
		</ul>
	</div>
</footer>