<header>
<!--	<div id="search_box">
		<form action="http://www.netheos.net/search" id="cse-search-box">
			<input type="hidden" name="cx" value="016592608350948238660:0w_38ll37p0" />
			<input type="hidden" name="cof" value="FORID:10;NB:1" />
			<input type="hidden" name="ie" value="UTF-8" />
			<input type="text" name="q" id="search_field" value="Search" />
		</form>
	</div>
-->
	
	<nav>
		<% logo = image_tag("netheos_logo.png", :alt => "Logo Netheos") %>
		<%= link_to logo, root_path %>
		<ul>
			<li><%= link_to t(:banking), solutions_banking_path %></li>
			<li><%= link_to t(:payment), solutions_payment_path %></li>
			<li><%= link_to t(:contract), solutions_contract_path %></li>
			<li style="color: #ff8f00; font-size: 20px">|</li>
			<li><%= link_to t(:ekeynox), ekeynox_path %></li>
<!--		<li><%= link_to t(:services), services_path %></li>
			<li><%= link_to t(:about), about_path %></li>
-->
		</ul>
	</nav>
</header>
