<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= title %></title>

	<!-- meta -->
	<meta name="description" content=""/>
	<meta name="author" content=""/>

	<!-- links -->
	<link rel="shortcut icon" href="favicon.ico"/>
	
	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :all %>
	<%= csrf_meta_tag %>
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29621410-1']);
	  _gaq.push(['_setDomainName', 'netheos.com']);
	  _gaq.push(['_setAllowLinker', true]);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<div id="wrap">
		<%= if header then render 'layouts/header' end %>
		<div id="page" class="clearfix"><%= yield %></div>
	</div>
	<%= if footer then render 'layouts/footer' end %>
</body>
</html>
